@media (min-width: 576px) {
    .main {
        margin-top: 10%;
    }
    
/*
    .projects-desc{
        visibility: hidden;
    }
*/
}


@media (min-width: 768px) {
    .main {
        margin-top: -0%;
    }
/*
    .projects-desc{
        visibility: hidden;
    }
*/

}

@media (min-width: 992px) {
    .main {
        margin-top: -0%;
    }
/*
    .projects-desc{
        visibility: visible;
    }
*/
    
}

@media (min-width: 1200px) {
    .main {
        margin-top: -0%;
    }
/*
        .projects-desc{
        visibility: visible;
    }
*/

}          

/*
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
*/

html,body{
    background-color: #36363c;
    height: 100%;

}

.cardmain {
        max-height:95vh;
}

.main{
    width: 100%;
}

.margins{
    padding: 5% 5% 0 5%;
}


.main-img{
        margin-top: -4%;
        max-height: 65vh;
        max-width: 100%;
}

.container-tab{
    background-color: ghostwhite;
}

.about-me{
    font-size: 1rem;
}

.about-me-footer{
    background-color:black;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color:white;
}

.about-me-footer a{
        color:white;
}

.title-about-me{
    margin-top:0.5%;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}



.nav{
    margin-top: 0.5%;
}

.nav-item{
    padding-left: 2%;
}


.projects-card{
margin-top: 2rem;
margin-left: 2rem;
padding: 0 0 0 0;
}

.card-header{
    color: white;
    font-size: 1rem;
}

.projects-desc{
    font-size: 1rem;
}

.title{
    color: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    letter-spacing: 0.04em;
}

.btn.nohover:hover {
    cursor:default !important;
}

.skills a{
    color: #36363c;
    border: solid #36363c 1px; 
    margin: 1% 1% 1% 1%;
}

.position{
    font-size: 0.8rem;
}

#nav-exp{
    padding-top: 1rem;
}

.img-thumbnail{
    float:none;
    margin: 0 auto;
}

.card{
    border:none;
}

.nav a{
    text-decoration: none;
    color: white;
}

.nav a:link a:active a:visited a:hover{
    color:white;
}

